*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


h1 {
    font-size: 2rem;
    font-family:cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 167, 167);
   height: 10vh;
   padding-left: 16%;
   padding-top: 1%;
   text-shadow: black 1px 1px 1px;
font-family:Georgia, 'Times New Roman', Times, serif ;
}

.logo-img {
  height: 11.2%;
  width: 250px;
  position: absolute;
  top: 0px;
  padding-left: 10%;
  
}
  

nav {
    padding-top: 1.5%;
    background-color: rgb(9, 128, 128);
 display: flex;
 justify-content: space-around;
 
}
 
nav a{
    color: white;
    font-size: 1.2rem;
    display: flex;
    margin-bottom: 20px;
   
}

