*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
background-image: url("https://cdn.discordapp.com/attachments/1034562900372766843/1073239426509049967/design1_image1.jpg");
    background-size: cover;
}

.index_body {
    overflow: hidden;
}

h1 {
    font-size: 200%;
    font-family:cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 167, 167);
  min-height: 10vh;
   padding-top: 7%;
   text-shadow: black 1px 1px 1px;
font-family:Georgia, 'Times New Roman', Times, serif ;
}

.logo_img{
   display: flex;
   height: 15vh;
   margin-left: 20px;
}

header{
    display: flex;
    background-color: rgb(5, 167, 167);
}



nav {
    padding-top: 0.5%;
    background-color: rgb(9, 128, 128);
 display: flex;
 justify-content: space-around;
 margin-bottom: 3%;
}
 
nav a{
    color: white;
    font-size: 1.2rem;
    display: flex;
    margin-bottom: 15px;
}

.contenedor {
   height: 500px;
    margin: 6%;
display: flex;
background-color: rgb(255, 255, 255);
}



#eventos {
    display: flex;
}


main {
    display: flex;
    flex-direction: column;
}


.contenedor_index{
    display: flex;
    flex-direction: column;
   width: 93vh;
}

article{
    height: 50%;
}


h2{
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
   border: black solid 1px;
}

h3 {
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    border: black solid 1px;
}

p {
    font-size: 1.5rem;
}



.imagen1 {
    height: 100%;
}

.contenedor_about {
    height: 100%;
    background-color: white;
    display: flex;
    margin: 6%;
}



.imagen2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100%;
}


.contenedor_reglas{
    height: 100%;
    background-color: white;
    margin: 6%;
    display: flex;
}

.titulo_reglas, .deportividad, .regulaciones, .allplay{
    color: rgb(6, 59, 119);
    border: none;
   align-self: center;
   display: flex;
}

.deportividad {
    margin-bottom: 30px;
}


.parrafo_reglas {
   align-self:  center;
   font-size: 1.5rem;
}

.deportividad, .allplay {
    padding-top: 80px;
    padding-bottom: 10px;
    align-self: flex-start;
    font-size: 2rem;
    margin-left: 2%;
}

.texto_deportividad {
    font-size: 1.5rem;
    margin-left: 7%;
    text-align: left;
    list-style: none;
}

.texto_regulaciones {
    margin-left: 2%;
   padding-bottom: 20px;
}

.texto_competicion, .texto_regulaciones, .texto_allplay2, .grupos, .alfa1, .alfa2, .alfa3, .alfa4{
    margin-left: 2%;
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.alfa1, .alfa2, .alfa3, .alfa4 {
    list-style-type: lower-alpha;
}


.nada {
    list-style: none;
}

.texto_allplay{
    font-size: 1.5rem;
    margin-left: 7%;
    text-align: left;
    list-style: none;
}

.texto_allplay2{
    margin-left: 14%;
}

.contenedor_informacion {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6%;
}

.titulo_informacion {
    color: rgb(6, 59, 119);
    border: none;
    font-size: 3rem;
    padding-left: 230px;
}

.parrafo_informacion {
   font-size: 2rem;
   padding-top: 30px;
  margin-left: 3%;
}

.parrafo_informacion2 {
    font-size: 1.5rem;
    padding-top: 15px;
    margin-left: 3%;
}

table{
    width: 100vh;
    font-family: sans-serif;
    font-size: 20px;
    border-collapse:collapse;
    color: rgb(0, 0, 0);
    margin-top: 5%;
    background-color: rgb(67, 78, 134);
    border: black 2px solid;
}


td {
padding-top: 50px;
   padding-bottom: 50px;
 padding-right: 30px;
 padding-left: 60px;
 background-color: #7d867f;
 border: black 2px solid;
 
}




.fecha {
    text-align: right;
}


.instalacion{
    padding-top: 40px;
    font-weight:normal;
    border: none;
}


.informacion_adicional, .dirigirse_a {
    font-size: 1.5rem;
    font-weight:normal;
    margin-bottom: 20px;
    border: none;
}

.telefono{
    font-size: 1.5rem;
    font-weight:normal;
    border: none;
}

.mail {
    font-size: 1.5rem;
    border: none;
}

.contenedor_footer{
    display: flex;
    justify-content: space-between;
}

.contenedor_contact {
    background-color: white;
    height: 100%;
 
}

.contacto1 {
padding-bottom: 15px;
text-align: center;
}

.contacto2{
    text-align: center;
}
.imagen3 {
    align-self: center;
}

#preescuela {
padding-right: 10px;
}

form {
    color: rgb(255, 255, 255);
   height: 20%;
    font-size: 2rem;
}

button {
    background-color: rgb(59, 221, 59);
    height: 2rem;
    width: 50px;
}

.contenedor_registration {
    height: 20%;
    background-color: rgb(13, 36, 78);
    margin: 10%;
    width: 80%;
}


input[type=text], input[type=number]{
    width: 20%;
    border: 2px solid #acacac;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 30px;
}


.espacio {
    margin-right: 100px;
}




h4 {
    font-size: 80px;
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;
}